@model IEnumerable<v4.Models.Reparation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoitureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatededisponibiliteALaVente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoitureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatededisponibiliteALaVente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReparationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReparationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReparationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
